/* Universal Selectors */

@font-face {
    font-family: 'Arcade';
    src: url('/font/ARCADE_N.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}
* {box-sizing: border-box;}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #242424;
    color: #fff;
    font-family: 'Arcade';
}
a, ul, li {
    list-style: none;
    text-decoration: none;
    color: #fff;
}

h1{font-size: 2em;}
h2{font-size: 1.75em;}
h3{font-size: 1.5em;}
h4{font-size: 1.25em;}
h5{font-size: 1em;}
h6{font-size: 0.75em;}

  /* Navbar */

.navbar {
    overflow: hidden;
    background-color: #2D2D2D;
    border-bottom: 3px ridge rgb(130, 130, 130);
    border-radius: 6px;
    padding: 5px;
    width: 100%;
    height: auto;
}

.logo {
    position: relative;
    overflow: hidden;
    float: left;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 10px 0px 10px 50px;
    transition: 0.6s 0.3s ease-in-out;
    text-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 4px 4px, rgba(240, 46, 170, 0.2) 6px 6px, rgba(240, 46, 170, 0.1) 8px 8px, rgba(240, 46, 170, 0.05) 10px 10px;
}
.logo:hover {
    text-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 3px 3px, rgba(240, 46, 170, 0.2) 4px 4px, rgba(240, 46, 170, 0.1) 5px 5px, rgba(240, 46, 170, 0.05) 6px 6px;
    transition: 0.5s ease-in-out;
}

.logo img {
    margin-bottom: 28px;
    width: 28px;
    height: 26px;
    transition: 0.8s ease-in-out;
}
.logo:hover img {
    width: 29px;
    height: 28px;
    transform: translateY(40px);
    transition: 0.7s ease-in-out;
}
.navbar a:not(:first-child) {
    float: right;
    padding: 25px 15px;
    transition: 0.6s 0.3s ease-in-out;
    text-shadow: rgba(240, 46, 170, 0.4) 2px 2px, rgba(240, 46, 170, 0.3) 4px 4px, rgba(240, 46, 170, 0.2) 6px 6px, rgba(240, 46, 170, 0.1) 8px 8px, rgba(240, 46, 170, 0.05) 10px 10px;
}
.navbar a:not(:first-child):hover {
    transition: 0.3s ease-in-out;
    text-shadow: rgba(240, 46, 170, 0.4) -2px -2px, rgba(240, 46, 170, 0.3) -4px -4px, rgba(240, 46, 170, 0.2) -6px -6px, rgba(240, 46, 170, 0.1) -8px -8px, rgba(240, 46, 170, 0.05) -10px -10px;
}
.icon {
    display: none;
}
.btn-up {
    position: fixed;
    bottom: 25px;
    right: 25px;  
    z-index: 1;
}
.btn-up i {
    font-size: 2em;
    color: #fff;
}

/* Contact */

.letter {
    padding-top: 120px;
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.present {
    display: flex;
    width: 400px;
    padding: 25px;
    text-align: center;
    line-height: 5;
    font-size: 20px;
    

}
.present h3 {
    -webkit-animation: text-change-5x 8s linear infinite alternate both;
	        animation: text-change-5x 8s linear infinite alternate both;
}

.contact {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    margin: 0;
    color: #2D2D2D;
    -webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}
.contact h3 {
    color: #2D2D2D;
    margin: 50px;
}
.alert {
    display: none;
}
#contactForm {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
 .contact input {
    width: 100%;
    margin: 10px;
    padding: 5px;
} 
textarea::placeholder{
    text-align: center;
    line-height: 5;
}

[type=text], [type=email]{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}

[type=button]{
    width: 50%;
    border: none;
    background-color: #f6f6f6;
    padding: 20px;
    color: #0d0d0d;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

[type=button]:hover{
    background-color:#ffff66;
}

[type=button]:active{
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}
button {
    border: none;
    background: none;
    padding: 10px;
    margin: 10px;
    color: #fff;
    font-size: 18px;
}

/* Footer */

footer
{
    display: flex;
    position: relative;
    bottom: 0;
}

.pie-pagina{
    width: 100%;
    background-color: #242424;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 3px solid grey;
    position:relative;
    bottom: 0;
}

.pie-pagina .grupo {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 1860px;
    margin: auto;

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 30px 0px;
}

footer .box {
   max-width: 400px;
   height: auto;
}
footer .box-s {
    width: 100%;
}
.pie-pagina .grupo .box img{
    width: 260px;
    margin: auto;
}

.pie-pagina .grupo .box h2{
    color:#ffff66;
    margin-bottom: 25px;
    font-size: 15px;
}

.pie-pagina .grupo .box p{
    color: white;
    font-size: 10px;
    text-align: left;
}

.pie-pagina .grupo .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    color: aliceblue;
    text-align: center;
    background-color: #2D2D2D;
    border-radius: 20px;
}

.pie-pagina .grupo .red-social a:nth-child(1):hover{
    color: #036cfe;
    font-size: 25px;
    transition: 0.5s;
}

.pie-pagina .grupo .red-social a:nth-child(2):hover{
    color: #b63bc6;
    font-size: 25px;
    transition: 0.5s;
}

.pie-pagina .grupo .red-social a:nth-child(3):hover{
    color: #00e1ff;
    font-size: 25px;
    transition: 0.5s;
}

.pie-pagina .grupo .red-social a:nth-child(4):hover{
    color: #ff0000;
    font-size: 25px;
    transition: 0.5s;
}
.box.s {
    color: #fff;
}
@media screen and (max-width: 760px){

  .navbar {
      position: fixed;
      z-index: 1;
      width: 100%;
  }

  .navbar a:not(:first-child) {
      display: none;
  }
  .navbar.responsive {
      position: fixed;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }

  .navbar.responsive a.logo {
      margin: 0;
      padding: 0;
  }
  
  .navbar.responsive a.logo img  {
    margin: 0;
    padding: 0;
}
  .navbar a.icon {
      display: block;
      float: right;
      color: #fff;
      padding: 20px 30px 20px 20px;
      font-size: 1.5em;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
  }
  .navbar.responsive a.icon {
      transform: rotate(270deg);
      transition: 0.5s ease-in-out;
  }

}



@-webkit-keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  @keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  @-webkit-keyframes text-change-5x {
    0% {
      color: #19dcea;
    }
    25% {
        color: #b22cff;
    }
    50% {
        color: #ea2222;
    }
    75% {
        color: #f5be10;
    }
    100% {
        color: #3bd80d;
    }
  }
  @keyframes text-change-5x {
    0% {
        color: #19dcea;
    }
    25% {
        color: #b22cff;
    }
    50% {
        color: #ea2222;
    }
    75% {
        color: #f5be10;
    }
    100% {
        color: #3bd80d;
    }
  }
  @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  