@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
/* Universal Selectors */
@font-face {
    font-family: 'Arcade';
    src: url('ARCADE_N.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #242424;
    font-family: 'Arcade';
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style-type: none;
}

h3 {
    color: white;
    margin-right: 12%;
}

.container {
    max-width: max-content;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container a{
    text-decoration: none;
}

  /* Navbar */

nav{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 32px 16px;
    background-color: #242424;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom: 3px solid grey;
}

.hamburger{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span{
    display:block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: white;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.3s;
}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: #ffff66;
}

.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span{
    background-color: #ffff66;
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 32px;
}

.menu a{
    margin: 0 24px;
    color:white;
}

.menu a:hover{
    font-size: 20px;
    transition: 0.5s;
    color:#ffff66;
}

.menu a:active{
    font-size: 12px;
    transition: 0.5s;
    color:violet;
}

/* Index */

.welcome {
    position: relative;
    color: #fff;
    width: 100%;
    min-height: 470px;
    margin: auto;
    background-color: #6b6b6b;
    justify-content: center;
}


.welcome video {
    position: fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
}
.title {
    width: 50%;
    color: #fff;
    position: relative;
    top: 180px;
    left: 0;
    font-size: 35px;
}
.title h1 {
    padding: 20px;
    margin: 20px;
    text-shadow: 2px 2px 4px black;
}
.half {
    position: absolute;
    width: 50%;
    height: 450px;
    background-color: #2d2d2d85;
    right: 0;
    top: 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.half li {
    margin: 50px;
}
.half a {
    font-size: 30px;
    transition: 0.5s ease-in-out;
}
.half a:hover {
    letter-spacing: 4px;
    color: green;
    transition: 0.5s ease-in-out;
}

/* News */

.news {
    position: relative;
    width: 100%;
    min-height: max-content;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 29%, rgba(150,44,89,1) 60%, rgba(12,73,85,1) 100%);
    text-align: center;
    
}


.news h2 {
    font-family: 'Neonderthaw', cursive;
    font-size: 64px;
    margin: 150px auto 40px auto;
    padding: 10px;
    border-radius: 16px;
    border: 2px solid grey;
    color: #ff1375;
    background-color: #100880;
    max-width: max-content;
    text-shadow: 0 0 20px #d82368;
    -webkit-animation: text-flicker-in-glow 4s linear both;
    animation: text-flicker-in-glow 4s linear both;
}


  
.news .container {
    flex-wrap: wrap;
}
.news .card {
    position: relative;
    display: flex;
    background-image: url(/img/arcade.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 420px;
    height: 400px;
    border-radius: 16px;
    margin: 30px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.news:not(.card) .card.on {
    position: absolute;
    display: grid;
    z-index: 100;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 820px;
    min-height: 710px;
    border-radius: 0px;
    margin: 0;
    padding: 0;
}

.screen ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 20px;
    width: 250px;
    height: 200px;
    border-radius: 6px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    
}
.screen li {
    margin: 10px;
}
.screen a {
    color: green;
    text-shadow: inset 1px 2px 4px white;
}
.screen a:hover {
    color: red;
}


 .popup {
    color: rgba(0, 128, 0, 0);
    background: url(/img/konami.png);
    background-position: center;
    background-size: cover;
    font-size: 50px;
    width: 260px;
    height: 200px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

    
}
.popup.off {
 
 background: none;
 position: absolute;
 bottom: -110px;
 right: 270px;
 color: rgb(255, 0, 0);
 text-shadow: 2px 2px 2px black;

   
 
 
}

span:not(.show) {
    display: none;
    transition: 2s ease-in-out;

}

span .show {
    display: block;
    position: absolute;  
      transition: 2s ease-in-out;

    
    

}
.card .cont {
    margin: 30px;
}
iframe #atari {
    margin: auto;
}

/* Contact */

.letter {
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: 50% 50%;

}

.contact {
    grid-column: 2;
    background-color: #fff;
    height: min-content;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    color: #2D2D2D;
    -webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}
.contact h3 {
    color: #2D2D2D;
    margin: auto;
}
.alert {
    display: none;
}
#contactForm {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
 .contact input {
    width: 100%;
    margin: 10px;
    padding: 5px;
} 
textarea::placeholder{
    text-align: center;
    line-height: 60px;
}

[type=text]{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
}

[type=button]{
    width: 50%;
    border: none;
    background-color: #f6f6f6;
    padding: 20px;
    color: #0d0d0d;
    font-size: 13px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

[type=button]:hover{
    background-color:#ffff66;
}

[type=button]:active{
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.present {
    display: flex;
    margin: auto;
    text-align: center;
    line-height: 5;
    font-size: 20px;
    

}
.present h3 {
    -webkit-animation: text-change-5x 8s linear infinite alternate both;
	        animation: text-change-5x 8s linear infinite alternate both;
}
/* Footer */

footer
{
    display: flex;
    position: relative;
    bottom: 0;
    padding-bottom: 40px;
}

.pie-pagina{
    width: 100%;
    background-color: #242424;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 3px solid grey;
    position:relative;
    bottom: 0;
}

.pie-pagina .grupo-1{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 1860px;
    margin: auto;
    
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 30px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 360px;
}

.pie-pagina .grupo-1 .box h2{
    color:#ffff66;
    margin-bottom: 25px;
    font-size: 15px;
}

.pie-pagina .grupo-1 .box p{
    color: white;
    font-size: 10px;
    text-align: left;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    color: aliceblue;
    text-align: center;
    background-color: #2D2D2D;
    border-radius: 20px;
}

.pie-pagina .grupo-1 .red-social a:nth-child(1):hover{
    color: #036cfe;
    font-size: 25px;
    transition: 0.5s;
}

.pie-pagina .grupo-1 .red-social a:nth-child(2):hover{
    color: #b63bc6;
    font-size: 25px;
    transition: 0.5s;
}

.pie-pagina .grupo-1 .red-social a:nth-child(3):hover{
    color: #00e1ff;
    font-size: 25px;
    transition: 0.5s;
}

.pie-pagina .grupo-1 .red-social a:nth-child(4):hover{
    color: #ff0000;
    font-size: 25px;
    transition: 0.5s;
}

.pie-pagina .grupo-2{
    z-index: 100;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #2D2D2D;
    padding: 15px 10px;
    text-align: center;
    color: aliceblue;
}

.pie-pagina .grupo-2 small{
    font-size: 14px;
    
}



        /* Registro*/

    .main { 
background-color:gray;
position: relative;
padding-left: 25px;
}


@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

@media (min-width: 768px){
    .hamburger{
        display: none;
    }
    .menu{
        display:block;
    }
}


@-webkit-keyframes text-flicker-in-glow {
    0% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
    }
    10% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    10.1% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    10.2% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    20% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    20.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    20.6% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    30% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    30.1% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    30.5% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    30.6% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    45% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    45.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    50% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
        }
    55% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
        }
    55.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    57% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    57.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

        }
    60% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    60.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    65% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    65.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

   }
    75% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    75.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    77% {
      opacity: 1;
      text-shadow: none;
    }
    77.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a583 inset;

    }
    85% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
        }
    85.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a56e inset;

    }
    86% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    86.1% {
      color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    100% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a548 inset;

    }
  }
  @keyframes text-flicker-in-glow {
    0% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    10% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    10.1% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    10.2% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    20% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    20.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    20.6% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    30% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    30.1% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    30.5% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    30.6% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    45% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    45.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    50% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
        }
    55% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
        }
    55.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    57% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    57.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

        }
    60% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    60.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    65% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    65.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

   }
    75% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    75.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a48f inset;

    }
    77% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    77.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a583 inset;

    }
    85% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
        }
    85.1% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a56e inset;

    }
    86% {
        color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    86.1% {
      color: #5e0f30;
        text-shadow: 0 0 20px #1a050d;
        box-shadow: none;
    }
    100% {
        color: #ff1375;
        text-shadow: 0 0 20px #d82368;
        box-shadow: 10px 10px 60px 10px #ee77a548 inset;

    }
  }
  @-webkit-keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  @keyframes color-change-5x {
    0% {
      background: #19dcea;
    }
    25% {
      background: #b22cff;
    }
    50% {
      background: #ea2222;
    }
    75% {
      background: #f5be10;
    }
    100% {
      background: #3bd80d;
    }
  }
  @-webkit-keyframes text-change-5x {
    0% {
      color: #19dcea;
    }
    25% {
        color: #b22cff;
    }
    50% {
        color: #ea2222;
    }
    75% {
        color: #f5be10;
    }
    100% {
        color: #3bd80d;
    }
  }
  @keyframes text-change-5x {
    0% {
        color: #19dcea;
    }
    25% {
        color: #b22cff;
    }
    50% {
        color: #ea2222;
    }
    75% {
        color: #f5be10;
    }
    100% {
        color: #3bd80d;
    }
  }
  