/* Universal Selectors */
@font-face {
    font-family: 'Arcade';
    src: url('ARCADE_N.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #242424;
    font-family: 'Arcade';
}
a {
    text-decoration: none;
    color: #fff;
}
ul {
    list-style-type: none;
}

h3 {
    color: white;
    margin-right: 12%;
}

.container {
    max-width: 1860px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container a{
    text-decoration: none;
}

  /* Navbar */

nav{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 16px 32px 16px;
    background-color: #242424;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom: 3px solid grey;
}

.hamburger{
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span{
    display:block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: white;
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.3s;
}

.hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: #ffff66;
}

.hamburger.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span{
    background-color: #ffff66;
}

.menu{
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 32px;
}

.menu a{
    margin: 0 24px;
    color:white;
}

.menu a:hover{
    font-size: 20px;
    transition: 0.5s;
    color:#ffff66;
}

.menu a:active{
    font-size: 12px;
    transition: 0.5s;
    color:violet;
}

/* Index */

.welcome {
    position: relative;
    color: #fff;
    width: 100%;
    min-height: 470px;
    margin: auto;
    background-color: #6b6b6b;
}


.welcome video {
    position: fixed;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
}
.title {
    width: 50%;
    color: #fff;
    position: relative;
    top: 180px;
    left: 0;
    font-size: 35px;
}
.title h1 {
    padding: 20px;
    margin: 20px;
}
.half {
    position: absolute;
    width: 50%;
    height: 450px;
    background-color: #2d2d2d85;
    right: 0;
    top: 0;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.half li {
    margin: 50px;
}
.half a {
    font-size: 30px;
    transition: 0.5s ease-in-out;
}
.half a:hover {
    letter-spacing: 4px;
    color: green;
    transition: 0.5s ease-in-out;
}

/* News */

.news {
    position: relative;
    width: 100%;
    min-height: max-content;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 29%, rgba(150,44,89,1) 60%, rgba(12,73,85,1) 100%);
    text-align: center;
    
}


.news h2 {
    margin: 40px;
    padding-top: 100px;
}
.news .container {
    flex-wrap: wrap;
}
.news .card {
    display: flex;
    background-image: url(/img/arcade.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 420px;
    height: 400px;
    border-radius: 16px;
    margin: 30px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    
}
.card .screen {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 250px;
    height: 220px;
}


 .popup {
    color: green;
    padding: 30px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    
}
 span {
    display: none;
    
}
span .show {
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 1000;
    width: 40px;
    height: 40px;
  }
 

/* Footer */

footer
{
    display: flex;
    position: relative;
    bottom: 0;
    padding-bottom: 40px;
}

.pie-pagina{
    width: 100%;
    background-color: #242424;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: 3px solid grey;
    position:relative;
    bottom: 0;
}

.pie-pagina .grupo-1{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    max-width: 1860px;
    margin: auto;
    
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 30px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 360px;
}

.pie-pagina .grupo-1 .box h2{
    color:#ffff66;
    margin-bottom: 25px;
    font-size: 15px;
}

.pie-pagina .grupo-1 .box p{
    color: white;
    font-size: 10px;
    text-align: left;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 10px;
    color: aliceblue;
    text-align: center;
    background-color: #2D2D2D;
    border-radius: 20px;
}

.pie-pagina .grupo-1 .red-social a:nth-child(1):hover{
    color: #036cfe;
    font-size: 25px;
    transition: 0.5s;
}

.pie-pagina .grupo-1 .red-social a:nth-child(2):hover{
    color: #b63bc6;
    font-size: 25px;
    transition: 0.5s;
}

.pie-pagina .grupo-1 .red-social a:nth-child(3):hover{
    color: #00e1ff;
    font-size: 25px;
    transition: 0.5s;
}

.pie-pagina .grupo-1 .red-social a:nth-child(4):hover{
    color: #ff0000;
    font-size: 25px;
    transition: 0.5s;
}

.pie-pagina .grupo-2{
    z-index: 100;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #2D2D2D;
    padding: 15px 10px;
    text-align: center;
    color: aliceblue;
}

.pie-pagina .grupo-2 small{
    font-size: 14px;
    
}



        /* Registro*/

    .main { 
background-color:gray;
position: relative;
padding-left: 25px;
}


@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

@media (min-width: 768px){
    .hamburger{
        display: none;
    }
    .menu{
        display:block;
    }
}